language: php
php:
  - 7
  - 5.6
  - 5.5
  - 5.4
addons:
  apt:
    packages:
    - ldap-utils
    - slapd
before_install:
  - echo "extension=ldap.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
before_script:
  - cp app/config/parameters.yml.travis app/config/parameters.yml
  - cp app/phpunit.xml.travis app/phpunit.xml
  - slapd -f tests/ldif_data/slapd.conf -h ldap://localhost:3389 &
  - sleep 3
  - composer install
  - php app/console doctrine:database:create --env=test
  - php app/console doctrine:schema:create --env=test
  - php app/console cache:warmup --env dev

script:
  - phpunit --bootstrap app/bootstrap.php.cache --configuration app/phpunit.xml src